PAMILO_DOMAIN_MODE=dry-run
PAMILO_DOMAIN_NETWORK_APPROVED=false
PAMILO_WEB_DOMAIN=sedayafarm.keycloud.id
PAMILO_WEB_PRODUCTION_ORIGIN=https://sedayafarm.keycloud.id
PAMILO_EXPECTED_VPS_IP=43.157.203.226
PAMILO_API_TRUSTED_ORIGINS=https://sedayafarm.keycloud.id

PAMILO_DOMAIN_DNS_CHANGE_WINDOW_REF=
PAMILO_DOMAIN_TLS_CERTIFICATE_REF=
PAMILO_DOMAIN_REVERSE_PROXY_REF=
PAMILO_DOMAIN_FIREWALL_EVIDENCE_REF=
PAMILO_DOMAIN_ROLLBACK_REF=
PAMILO_DOMAIN_QA_SMOKE_PLAN_REF=
PAMILO_DOMAIN_PM_APPROVAL_REF=
PAMILO_DOMAIN_QA_APPROVAL_REF=
PAMILO_DOMAIN_SECURITY_APPROVAL_REF=
PAMILO_DOMAIN_INFRA_APPROVAL_REF=
PAMILO_DOMAIN_DEVOPS_APPROVAL_REF=
