PAMILO_HANDOVER_MODE=dry-run

PAMILO_HANDOVER_RELEASE_NOTES_REF=
PAMILO_HANDOVER_RUNBOOK_REF=
PAMILO_HANDOVER_TRAINING_REF=
PAMILO_HANDOVER_ASSET_INVENTORY_REF=
PAMILO_HANDOVER_BLOCKER_REGISTER_REF=
PAMILO_HANDOVER_OPEN_RISK_ACCEPTANCE_REF=
PAMILO_HANDOVER_HYPERCARE_CLOSURE_REF=
PAMILO_HANDOVER_SUPPORT_WINDOW_REF=
PAMILO_HANDOVER_PM_APPROVAL_REF=
PAMILO_HANDOVER_QA_APPROVAL_REF=
PAMILO_HANDOVER_SECURITY_APPROVAL_REF=
PAMILO_HANDOVER_INFRA_APPROVAL_REF=
PAMILO_HANDOVER_DEVOPS_APPROVAL_REF=
PAMILO_HANDOVER_FRONTEND_APPROVAL_REF=
PAMILO_HANDOVER_BACKEND_APPROVAL_REF=
