PAMILO_OPS_MODE=dry-run
PAMILO_OPS_ENVIRONMENT=staging

PAMILO_PUBLIC_VPS_SIMULATION_REPORT_REF=
PAMILO_OPS_DASHBOARD_REF=
PAMILO_OPS_ALERT_CHANNEL_REF=
PAMILO_OPS_INCIDENT_COMMANDER_REF=
PAMILO_OPS_ONCALL_ROSTER_REF=
PAMILO_OPS_LOG_RETENTION_REF=
PAMILO_OPS_BACKUP_SCHEDULE_REF=
PAMILO_OPS_RESTORE_DRILL_REF=
PAMILO_OPS_ROLLBACK_RUNBOOK_REF=
PAMILO_OPS_TELEMETRY_STALE_THRESHOLD_MINUTES=10
PAMILO_OPS_WEATHER_STALE_THRESHOLD_HOURS=6
PAMILO_OPS_FRESHNESS_THRESHOLD_EVIDENCE_REF=
PAMILO_OPS_SECURITY_INCIDENT_REF=
PAMILO_OPS_SECRET_ROTATION_REF=
PAMILO_OPS_PM_APPROVAL_REF=
PAMILO_OPS_QA_APPROVAL_REF=
PAMILO_OPS_SECURITY_APPROVAL_REF=
PAMILO_OPS_INFRA_APPROVAL_REF=
PAMILO_OPS_DEVOPS_APPROVAL_REF=
